{% extends 'dashboard/base.html' %}

{% block title %}
    Clients
{% endblock title %}


{% block content %}
    <div class="overflow-x-auto">
        <table class="table table-zebra w-full">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="client-table-body">
                {% for client in clients %}
                    {% include "clients/partials/client_row.html" %}
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No clients found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    
    