{% extends "dashboard/base.html" %}


{% block title %}
    Requirements
{% endblock title %}


{% block content %}
<div class="overflow-x-auto">
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>Project</th>
                <th>Title</th>
                <th>Requirement Type</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="requirement-table-body">
            {% for requirement in requirements %}
                {% include "projects/partials/requirement_row.html" %}
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No requirements found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
    
    