{% extends "dashboard/base.html" %}


{% block extends %}
    <style>
        [x-cloak] { display: none !important; }
    </style>
{% endblock extends %}
    

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-4" x-data = "{ addProjectModal:false, addClientModal:false }">    
    
    <!-- Add Project Modal -->
        {% include 'dashboard/modals/add_project_modal.html' %}
    <!-- End of add Project Model-->

    <!-- Add Client Model-->
        {% include 'dashboard/modals/add_client_modal.html' %}
    <!--End of Add Client Model-->
    
    <!-- Actual Dashboard Code-->
    <div class="card bg-base-100 shadow-md p-4">
        <h3 class="text-lg font-semibold">Pending Projects</h3>

        {% for project in projects %}
            <p class="">{{ project.title }}</p>
        {% empty%}
            <p>No projects Found</p>
        {% endfor %}

        <div class="grid grid-cols-2 gap-1 md:gap-3">    
            <button
                type="button"
                class="btn btn-sm btn-primary mt-2"
                @click="addProjectModal = true"
            >
                Add Project
            </button>

            <a href="{% url 'projects:list' %}" class="btn btn-sm btn-primary mt-2">View All Projects</a>
        </div>
    </div>        
    
    <div class="card bg-base-100 shadow-md p-4">
        <h3 class="text-lg font-semibold">Recent Clients</h3>

        {% for client in clients %}
        <p class="">{{ client.name }}</p>
        {% empty %}
            <p>No Clients Found</p>
        {% endfor %}

        <div class="grid grid-cols-2 gap-1 md:gap-3">   
            <button 
                type="button"
                class="btn btn-sm btn-primary mt-2"
                @click="addClientModal=true"
            >
                Add Client
            </button>
            <a href="{% url 'clients:list' %}" class="btn btn-sm btn-primary mt-2">View All Clients</a>
        </div>
    </div>
        
    <div class="card bg-base-100 shadow-md p-4">
        <h3 class="text-lg font-semibold">Pending Payments</h3>

        {% for unpaid_invoice in unpaid_invoices %}
            <p class="">{{ unpaid_invoice }}</p>
        {% empty %}
            <p>No Pending Payments Found.</p>
        {% endfor %}

        <div class="grid grid-cols-2 gap-1 md:gap-3 card-actions">    
            <a href="" class="btn btn-sm btn-primary mt-2">Add Payment</a>
            <a href="" class="btn btn-sm btn-primary mt-2">View All Payments</a>
        </div>
    </div>
        

    <div class="card bg-base-100 shadow-md p-4">
        <h3 class="text-lg font-semibold">Pending Requirements</h3>
        {% for pending_requirement in pending_requirements %}
            <p class="">{{ pending_requirement }}</p>
        {% empty %}
            <p>No Pending Requirements Found.</p>
        {% endfor %}
        <div class="grid grid-cols-2 gap-1 md:gap-3 card-actions">    
            <a href="" class="btn btn-sm btn-primary mt-2">Add Requirement</a>
            <a href="" class="btn btn-sm btn-primary mt-2">View All Requirements</a>
        </div>
    </div>

</div>
{% endblock %}
